<!DOCTYPE html>
<html>
    <head>
	    <!-- Website Name in Tab Bar -->
        <title>LED Light Interface</title>

        <!-- Website Icon in Tab Bar -->
	    <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>

        <div id="iconContainer">
            <!-- Manual Interface Body Icon -->
            <div class="bodyIcon" id="manualInterfaceOuterContainer">
                <div id="manualInterfaceInnerContainer">
		            <img class="bodyIconImage" id="manualInterfaceIconBody" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
                    <div id="manualInterfaceParameterContainer"></div>
                </div>
            </div>

            <!-- Code Interface Body Icon -->
            <div id="colorSelector" class="bodyIconImage">
                <div class="colorSelectorColor" style="background:#0000FF;" id="blue"></div>
                <div class="colorSelectorColor" style="background:#FFFF00;" id="yellow"></div>
                <div class="colorSelectorColor" style="background:#FFA500;" id="orange"></div>
                <div class="colorSelectorColor" style="background:#000000;" id="black"></div>
                <div class="colorSelectorColor" style="background:#FFFFFF;" id="white"></div>
                <div class="colorSelectorColor" style="background:#FFC0CB;" id="pink"></div>
                <div class="colorSelectorColor" style="background:#800080;" id="purple"></div>
                <div class="colorSelectorColor" style="background:#FF00FF;" id="magenta"></div>
                <div class="colorSelectorColor" style="background:#FF0000;" id="red"></div>
                <div class="colorSelectorColor" style="background:#00FF00;" id="green"></div>
                <div class="colorSelectorColor" style="background:#008080;" id="teal"></div>
                <div class="colorSelectorColor" style="background:#9ACD32;" id="yellowgreen"></div>
                <div class="colorSelectorColor" style="background:#4169E1;" id="royalblue"></div>
                <div class="colorSelectorColor" style="background:#FF7F50;" id="coral"></div>
                <div class="colorSelectorColor" style="background:#00FFFF;" id="aqua"></div>
                <div class="colorSelectorColor" style="background:#808000;" id="olive"></div>
            </div>

            <!-- Hardware Info Body Icon -->
            <div id="modeScrollContainer" class="bodyIconImage"></div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();

		    socket.on('connect', function() {
			    console.log("Home Socket Connected");
			    socket.emit("Home Connection");
		    });

		    socket.on('Home Mode List', function(msg) {
			    console.log("Mode List " + msg);
                var animationContainer = document.getElementById('modeScrollContainer');
                var animationElements = msg;
                for (var counter = 0; counter < animationElements.length; ++counter) {
                    var newAnimation = document.createElement('div');
				    newAnimation.innerHTML = msg[counter];
				    newAnimation.setAttribute('class', 'modeScrollElement');
				    if(counter % 2 == 0) {
                        newAnimation.style.backgroundColor = "#AAAAAA";
                    } else {
                        newAnimation.style.backgroundColor = "#DDDDDD";
                    }
				    animationContainer.appendChild(newAnimation);
                }
		    });


		    socket.on('Home Parameters', function(msg) {
		        var sliderContainer = document.getElementById('manualInterfaceParameterContainer');
		        sliderContainer.innerHTML = '';
		        for(var i = 0; i < msg.length; i++){
		            console.log(msg[i])
                    createOption(msg[i]);
                }
		    });

		    function createOption(input) {
		        var sliderContainer = document.getElementById('manualInterfaceParameterContainer');
                if(input[0] == 'Slider') {
                    // Create the new elements
                    var newSlider = document.createElement('input');
                    var newLabel = document.createElement('div');

                    // Add the new element's attributes
                    newSlider.setAttribute('class', 'manualDynamicSlider');
                    newSlider.setAttribute('id', getDisplayName(input));
                    newSlider.setAttribute('type', 'range');
                    newSlider.setAttribute('min', getValue(newSlider, input[2][0]));
                    newSlider.setAttribute('max', getValue(newSlider, input[2][1]));
                    newSlider.setAttribute('value', getValue(newSlider, input[2][2]));
                    newLabel.setAttribute('class', 'sliderLabel');
                    newLabel.innerHTML = getDisplay(newSlider);

                    // Add onClick function
                    newSlider.oninput = function(event) {
                        newLabel.innerHTML = getDisplay(newSlider);
		                socket.emit('MI Update Client', formatResponse(event));
                    }

                    // Append to the webpage
                    sliderContainer.appendChild(newLabel);
                    sliderContainer.appendChild(newSlider);
                }

                else if (input[0] == 'UserColor') {
                    // Check if the container was already created and if not create it
                    var optionContainer = document.getElementById('manualUserColorContainer');
                    if(!optionContainer) {
                        optionContainer = document.createElement('div');
                        optionContainer.setAttribute('id', 'manualUserColorContainer');
                        sliderContainer.appendChild(optionContainer);
                    }

                    // Add the new color to it
                    var userColor = document.createElement('div');
                    userColor.setAttribute('class', 'manualUserColor');
                    userColor.setAttribute('id', 'UserColor'+input[1]);
                    userColor.innerHTML = input[1];

                    // Add onClick function
                    userColor.onclick = function(event) {
                        socket.emit('MI Update Client', ['UserColor', userColor.innerHTML]);
                        console.log("Clicked profile");
                    }

                    // Append to the webpage
                    optionContainer.appendChild(userColor);

                }

                if(input[0] == 'Select') {
                    var x
                }
	        }

	        function getDisplay(slider) {
	            if(slider.id == 'Sleep') {
	                return slider.value + 'ms';
	            } else {
	                return slider.value;
	            }
	        }

            function getDisplayName(input) {
                return input[1];
	        }

	        function getValue(attribute, value) {
                if(attribute.id == 'Sleep') {
                    return 1000 * value;
                } else {
                    return value;
                }
            }

            function formatResponse(event) {
                if(event.target.id == 'Sleep') {
                    return [event.target.id, 1.0 * event.target.value / 1000]
                } else {
                    return [event.target.id, event.target.value];
                }
	        }

            document.addEventListener('click', function(event) {
                if(event.target && event.target.className == 'modeScrollElement'){
                    socket.emit("Home Mode Change", "" + event.target.textContent);
                }
                else if(event.target && event.target.id == 'blue') {
                    alert("blue");
                    socket.emit('Home Color Change', [0, 0, 255]);
                }
                else if(event.target && event.target.id == 'yellow') {
                    socket.emit('Home Color Change', [255, 255, 0]);
                }
                else if(event.target && event.target.id == 'orange') {
                    socket.emit('Home Color Change', [255, 100, 0]);
                }
                else if(event.target && event.target.id == 'black') {
                    socket.emit('Home Color Change', [0, 0, 0]);
                }
                else if(event.target && event.target.id == 'white') {
                    socket.emit('Home Color Change', [255, 255, 255]);
                }
                else if(event.target && event.target.id == 'pink') {
                    socket.emit('Home Color Change', [255, 105, 180]);
                }
                else if(event.target && event.target.id == 'purple') {
                    socket.emit('Home Color Change', [102, 51, 153]);
                }
                else if(event.target && event.target.id == 'magenta') {
                    socket.emit('Home Color Change', [255, 0, 255]);
                }
                else if(event.target && event.target.id == 'red') {
                    socket.emit('Home Color Change', [255, 0, 0]);
                }
                else if(event.target && event.target.id == 'green') {
                    socket.emit('Home Color Change', [0, 255, 0]);
                }
                else if(event.target && event.target.id == 'teal') {
                    socket.emit('Home Color Change', [0, 128, 128]);
                }
                else if(event.target && event.target.id == 'yellowgreen') {
                    socket.emit('Home Color Change', [154, 205, 50]);
                }
                else if(event.target && event.target.id == 'royalblue') {
                    socket.emit('Home Color Change', [65, 105, 225]);
                }
                else if(event.target && event.target.id == 'coral') {
                    socket.emit('Home Color Change', [255, 127, 80]);
                }
                else if(event.target && event.target.id == 'aqua') {
                    socket.emit('Home Color Change', [0, 255, 255]);
                }
                else if(event.target && event.target.id == 'olive') {
                    socket.emit('Home Color Change', [128, 128, 0]);
                }
            });
        </script>
    </body>
</html>
