body {
    margin: 0px;
    padding: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
}

/* Header Styling */
.header {
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
}

.headerCell {
    height: 100%;
    width: auto;
    align-self: center;
    margin: 0 1%;
}

.headerIconImage {
    margin: 10% 0;
    height: 80%;
    width: auto;
}

.headerIconImage:hover {
    box-shadow: 0px 0px 10px black;
    border-radius: 20%;
}

#powerIcon {
}

#powerIcon:hover {
}

#modeSelect {
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0);
    font-size: 20pt;
    border: none;
    width: 20%;
    height: 80%;
}

#ipAddress {
    width: 40%;
    text-align: center;
    font-size: 30px;
    height: 100%;
}

#ipAddressValue {
    height: 100%;
    width: auto;
}

#manualInterfaceIcon {
}

#manualInterfaceIcon:hover {
}


#codeInterfaceIcon {
}

#codeInterfaceIcon:hover {
}

#hardwareInfoIcon {
}

#hardwareInfoIcon:hover {
}

#homeInterfaceIcon {
}

#homeInterfaceIcon:hover {
}

/* Body Icons */
#iconContainer {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 93vh;
}

.bodyIcon {
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    align-self: center;
}

.bodyIcon:hover {
    box-shadow: 0px 0px 10px black;
    border-radius: 20%;
}

.bodyIconImage {
    width: 30vw;
    height: auto;
}

#manualInterfaceContainer {
    position: relative;
    align-self: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    width: 30vw;
    height: 60vh;
}

#manualInterfaceContainer:hover #manualInterfaceIconBody:hover #manualInterfaceParameterContainer:hover {
    transform: rotateY(180deg);
}

#manualInterfaceIconBody {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#manualInterfaceParameterContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: red;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#colorSelector {
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.colorSelectorColor {
    flex: calc(100% / 4);
    width: 25%;
    height: 25%;
}

#modeScrollContainer {
    height: 80%;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid gray;
    cursor: pointer;
}

.modeScrollElement {
    height: 100px;
    padding-left: 5%;
}

/* Manual Input Interface Styling */
#sliderContainer {
    height: 93vh;
}

.slider {
    position: relative;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    margin: 40px 10px 0px 10px;
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
    border: 1.5px solid #000000;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 50px; /* Set a specific slider handle width */
    height: 50px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    border: 2px solid #000000;
}

.slider::-webkit-slider-thumb {
    background: white;
}

#RValue {
    background: red;
}

#GValue {
    background: green;
}

#BValue {
    background: blue;
}

/* Code Input Interface Styling */
#codeInputContainer {
    height: 93vh;
    width: 100%;
}

#codeTextArea {
    outline: none;
    resize: none;
    overflow: auto;
    background: yellow;
    height: 90%;
    width: 60%;
    font-size: 14pt;
}

/* Hardware Information Header */
.infoCell {
    margin: 0;
    padding: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #bfbfbf;

}

.infoHeader {
    flex-basis: 57%;
    height: 40px;
    font-size: 30px;
}

.infoBarContainer {
    flex-basis: 40%;
    height: 40px;
    width: 100%;
    border-radius: 8px;
}

.infoBar {
    height: 90%;
    width: 90%;
    background-color: #54cc4b;
    border: 2px solid gray;
    border-radius: 8px;
}

.infoBarValue {
    margin-top: 6px;
    text-align: center;
    height: 100%;
    font-size: 20px;
}
