<!DOCTYPE html>

<html>
    <head>
        <title>Hardware Information Interface</title>

        <!-- Website Icon in Tab Bar -->
        <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>



            <!-- Device Select Dropdown -->
            <select id="modeSelect" class="headerCell">
                <option class="dropdownItem" value="Off">Off</option>
                <option class="dropdownItem" value="White">White</option>
                <option class="dropdownItem" value="Party">Party</option>
            </select>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>

        <!-- Fan Speed -->
        <div class="infoCell" id="fanSpeedContainer">
            <div class="infoHeader" id="fanSpeedHeader">Fan Speed</div>
            <div class="infoBarContainer">
                <div class="infoBar" id="fanSpeedLoadingBar">
                    <div class="infoBarValue" id="fanSpeedValue">50%</div>
                </div>
            </div>
        </div>

        <!-- Raspberry Pi Temperature -->
        <div class="infoCell" id=piTempContainer">
            <div class="infoHeader" id="piTempHeader">Raspberry Pi Temperature</div>
            <div class="infoBarContainer">
                <div class="infoBar" id="piTempLoadingBar">
                    <div class="infoBarValue" id="piTempValue">38`C</div>
                </div>
            </div>
        </div>

        <!-- Microphone Value -->
        <div class="infoCell" id="micContainer">
            <div class="infoHeader" id="micHeader">Microphone Value</div>
            <div class="infoBarContainer">
                <div class="infoBar" id="micLoadingBar">
                    <div class="infoBarValue" id="micValue">34 dB</div>
                </div>
            </div>
        </div>


        <!-- Update Progress Bar Values -->
         <script>

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            async function updateValue(barName, valueName, units) {
                var progressBar = document.getElementById(barName);
                var valueLabel = document.getElementById(valueName);

                while(true) {
                    for (let i = 0; i < 101; i++) {
                        progressBar.style.width = i + "%";
                        valueLabel.innerHTML = "" + i + units;
                        await sleep(50);
                    }
                }
            }

            updateValue("fanSpeedLoadingBar", "fanSpeedValue", "%");
            updateValue("piTempLoadingBar", "piTempValue", "`C");
            updateValue("micLoadingBar", "micValue", "dB");
        </script>



    </body>
</html>
