<!DOCTYPE html>

<html>
    <head>
        <title>Hardware Information Interface</title>

        <!-- Website Icon in Tab Bar -->
        <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		// Allows the client to request data every chosen ms
		function updateBarValue(barName, barValueName, value, minValue, maxValue, units) {
			// Redefine the names
			var progressBar = document.getElementById(barName);
			var valueLabel = document.getElementById(barValueName);

			// Scale the bar accordingly
            adjustedValue = value / (maxValue - minValue) * 100;

            // Update the values
			progressBar.style.width = adjustedValue + "%";
			valueLabel.innerHTML = "" + Number(value).toFixed(2) + units;
		}

        function updateTextValue(labelName, value) {
            // Redefine the names
            var label = document.getElementById(labelName);

            // Update the values
            label.innerHTML = value;
        }

		var socket = io();	

		socket.on('connect', function() {
			socket.emit("HI Connection");
		});
		
		socket.on('HI Update Server', function(msg) {
		    // Loop through all the hw info
            for(var i = 0; i < msg.length; i++) {
                idName = msg[i][0].replace(/\s/g, '');
                // If the elements is a progress bar
                if(msg[i][2] == 'loadingBar') {
                    // Create the web attribute if necessary
                    if(!document.getElementById(idName)) {
                        // Create the elements and link css
                        var rowContainer = document.createElement('div');
                        rowContainer.className = "infoCell";
                        var nameDiv = document.createElement('div');
                        nameDiv.className = "infoHeader";
                        var barContainer = document.createElement('div');
                        barContainer.className = "infoBarContainer";
                        var bar = document.createElement('div');
                        bar.className = "infoBar";
                        bar.id = idName
                        var barValue = document.createElement('div');
                        barValue.className = "infoBarValue";
                        barValue.id = idName + "Value";

                        // Organize the elements properly
                        bar.appendChild(barValue);
                        barContainer.appendChild(bar);
                        nameDiv.innerHTML = msg[i][0]
                        rowContainer.appendChild(nameDiv);
                        rowContainer.appendChild(barContainer);
                        document.body.appendChild(rowContainer);
                    }

                    // Otherwise just update it
			        updateBarValue(idName, idName+"Value", msg[i][1], msg[i][3], msg[i][4], msg[i][5]);
                }

			    // If the element is text
			    else if(msg[i][2] == 'text') {
                    // Create the web attribute if necessary
                    if(!document.getElementById(idName)) {
                        // Create the elements and link css
                        var rowContainer = document.createElement('div');
                        rowContainer.className = "infoCell";
                        var nameDiv = document.createElement('div');
                        nameDiv.className = "infoHeader";
                        var valueContainer = document.createElement('div');
                        valueContainer.className = "textInfoValue";
                        valueContainer.id = idName;

                        // Organize the elements properly
                        rowContainer.appendChild(nameDiv);
                        rowContainer.appendChild(valueContainer);
                        nameDiv.innerHTML = msg[i][0];
                        document.body.appendChild(rowContainer);
                    }

                    //Otherwise just update it
                    updateTextValue(idName, msg[i][1]);
			    }
            }

			// Automatically request new values
			setTimeout(() => { 
				socket.emit("HI Update Client");
			}, 1000);
		});
		
	</script>
	

        <!-- Update Progress Bar Values -->
        <!--
	<script>
            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            async function updateValue(barName, valueName, units) {
                var progressBar = document.getElementById(barName);
                var valueLabel = document.getElementById(valueName);

                while(true) {
                    for (let i = 0; i < 101; i++) {
                        progressBar.style.width = i + "%";
                        valueLabel.innerHTML = "" + i + units;
                        await sleep(50);
                    }
                }
            }

            updateValue("fanSpeedLoadingBar", "fanSpeedValue", "%");
            updateValue("piTempLoadingBar", "piTempValue", "`C");
            updateValue("micLoadingBar", "micValue", "dB");
        </script>
	-->


    </body>
</html>
