<!DOCTYPE html>
<html>
    <head>
	    <!-- Website Name in Tab Bar -->
        <title>LED Light Interface</title>

        <!-- Website Icon in Tab Bar -->
	    <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>



            <!-- Device Select Dropdown -->
            <select id="modeSelect" class="headerCell">
                <option class="dropdownItem" value="Off">Off</option>
                <option class="dropdownItem" value="White">White</option>
                <option class="dropdownItem" value="Party">Party</option>
            </select>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>


        </div>

        <div id="iconContainer">
            <!-- Manual Interface Body Icon -->
            <a class="bodyIcon" href="{{ url_for('manualinput') }}">
		        <img class="bodyIconImage" id="manualInterfaceIconBody" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Body Icon -->
            <a class="bodyIcon" href="{{ url_for('codeinput') }}">
		        <img class="bodyIconImage" id="codeInterfaceIconBody" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Body Icon -->
            <div id="modeScrollContainer" class="bodyIconImage">
                <div class="modeScrollElement">Party</div>
                <div class="modeScrollElement">Scroll</div>
                <div class="modeScrollElement">Random</div>
                <div class="modeScrollElement">Strobe</div>
            </div>
        </div>

    </body>

</html>
