<!DOCTYPE html>
<html>
    <head>
	    <!-- Website Name in Tab Bar -->
        <title>LED Light Interface</title>

        <!-- Website Icon in Tab Bar -->
	    <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>

        <div id="iconContainer">
            <!-- Manual Interface Body Icon -->
            <a href="{{ url_for('manualinput') }}" class="bodyIcon" id="manualInterfaceContainer">
		        <img class="bodyIconImage" id="manualInterfaceIconBody" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Body Icon -->
            <div id="colorSelector" class="bodyIconImage">
                <div class="colorSelectorColor" style="background:#0000FF;" id="blue"></div>
                <div class="colorSelectorColor" style="background:#FFFF00;" id="yellow"></div>
                <div class="colorSelectorColor" style="background:#FFA500;" id="orange"></div>
                <div class="colorSelectorColor" style="background:#000000;" id="black"></div>
                <div class="colorSelectorColor" style="background:#FFFFFF;" id="white"></div>
                <div class="colorSelectorColor" style="background:#FFC0CB;" id="pink"></div>
                <div class="colorSelectorColor" style="background:#800080;" id="purple"></div>
                <div class="colorSelectorColor" style="background:#FF00FF;" id="magenta"></div>
                <div class="colorSelectorColor" style="background:#FF0000;" id="red"></div>
                <div class="colorSelectorColor" style="background:#00FF00;" id="green"></div>
                <div class="colorSelectorColor" style="background:#008080;" id="teal"></div>
                <div class="colorSelectorColor" style="background:#9ACD32;" id="yellowgreen"></div>
                <div class="colorSelectorColor" style="background:#4169E1;" id="royalblue"></div>
                <div class="colorSelectorColor" style="background:#FF7F50;" id="coral"></div>
                <div class="colorSelectorColor" style="background:#00FFFF;" id="aqua"></div>
                <div class="colorSelectorColor" style="background:#808000;" id="olive"></div>
            </div>

            <!-- Hardware Info Body Icon -->
            <div id="modeScrollContainer" class="bodyIconImage"></div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();

		    socket.on('connect', function() {
			    console.log("Home Socket Connected");
			    socket.emit("Home Connection");
		    });

		    socket.on('Home Mode List', function(msg) {
			    console.log("Mode List " + msg);
                var animationContainer = document.getElementById('modeScrollContainer');
                var animationElements = msg;
                for (var counter = 0; counter < animationElements.length; ++counter) {
                    var newAnimation = document.createElement('div');
				    newAnimation.innerHTML = msg[counter];
				    newAnimation.setAttribute('class', 'modeScrollElement');
				    if(counter % 2 == 0) {
                        newAnimation.style.backgroundColor = "#AAAAAA";
                    } else {
                        newAnimation.style.backgroundColor = "#DDDDDD";
                    }
				    animationContainer.appendChild(newAnimation);
                }
		    });

            document.addEventListener('click', function(event) {
                if(event.target && event.target.className == 'modeScrollElement'){
                    socket.emit("Home Mode Change", "" + event.target.textContent);
                }
            });

            var blue = document.getElementById('blue');
            var blue = document.getElementById('yellow');
            var blue = document.getElementById('orange');
            var blue = document.getElementById('black');
            var blue = document.getElementById('white');
            var blue = document.getElementById('pink');
            var blue = document.getElementById('purple');
            var blue = document.getElementById('magenta');
            var blue = document.getElementById('red');
            var blue = document.getElementById('green');
            var blue = document.getElementById('teal');
            var blue = document.getElementById('yellowgreen');
            var blue = document.getElementById('royalblue');
            var blue = document.getElementById('coral');
            var blue = document.getElementById('aqua');
            var blue = document.getElementById('olive');

            blue.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 0]);
                socket.emit('MI Update Client', ['GValue', 0]);
                socket.emit('MI Update Client', ['BValue', 255]);
            }

            yellow.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 255]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

            orange.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 165]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

            black.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 0]);
                socket.emit('MI Update Client', ['GValue', 0]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

            white.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 255]);
                socket.emit('MI Update Client', ['BValue', 255]);
            }

            pink.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 105]);
                socket.emit('MI Update Client', ['BValue', 180]);
            }

            purple.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 102]);
                socket.emit('MI Update Client', ['GValue', 51]);
                socket.emit('MI Update Client', ['BValue', 153]);
            }

            magenta.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 0]);
                socket.emit('MI Update Client', ['BValue', 255]);
            }

            red.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 0]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

            green.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 0]);
                socket.emit('MI Update Client', ['GValue', 255]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

            teal.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 0]);
                socket.emit('MI Update Client', ['GValue', 128]);
                socket.emit('MI Update Client', ['BValue', 128]);
            }

            yellowgreen.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 154]);
                socket.emit('MI Update Client', ['GValue', 205]);
                socket.emit('MI Update Client', ['BValue', 50]);
            }

            royalblue.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 65]);
                socket.emit('MI Update Client', ['GValue', 105]);
                socket.emit('MI Update Client', ['BValue', 225]);
            }

            coral.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 255]);
                socket.emit('MI Update Client', ['GValue', 127]);
                socket.emit('MI Update Client', ['BValue', 80]);
            }

            aqua.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 0]);
                socket.emit('MI Update Client', ['GValue', 255]);
                socket.emit('MI Update Client', ['BValue', 255]);
            }

            olive.onclick = function(event) {
                socket.emit('Home Mode Change', 'Manual');
                socket.emit('MI Update Client', ['RValue', 128]);
                socket.emit('MI Update Client', ['GValue', 128]);
                socket.emit('MI Update Client', ['BValue', 0]);
            }

        </script>
    </body>
</html>
