<!DOCTYPE html>

<html>
    <head>
        <title>Manual Input Interface</title>

        <!-- Website Icon in Tab Bar -->
        <link rel="icon" href="{{ url_for('static', filename='assets/website_icon.png') }}">

        <!-- Link CSS Stylesheet -->
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LEDInterfaceStyling.css') }}" />
    </head>

    <body>
        <div class="header">
            <!-- Power Icon -->
            <a href="{{ url_for('home') }}" class="headerCell">
		        <img class="headerIconImage" id="powerIcon" src="{{ url_for('static', filename='assets/power_icon_off.svg') }}">
            </a>



            <!-- Device Select Dropdown -->
            <select id="modeSelect" class="headerCell">
                <option class="dropdownItem" value="Off">Off</option>
                <option class="dropdownItem" value="White">White</option>
                <option class="dropdownItem" value="Party">Party</option>
            </select>

            <!-- IP Address -->
            <label id="ipAddress" class="headerCell">
                {{ ipaddress }}
            </label>

            <!-- Home Inferface Icon -->
            <a class="headerCell" href="{{ url_for('home') }}">
		        <img class="headerIconImage" id="homeInterfaceIcon" src="{{ url_for('static', filename='assets/home_icon.svg') }}">
            </a>

            <!-- Manual Interface Icon -->
            <a class="headerCell" href="{{ url_for('manualinput') }}">
		        <img class="headerIconImage" id="manualInterfaceIcon" src="{{ url_for('static', filename='assets/equalizer_icon.svg') }}">
            </a>

            <!-- Code Interface Icon -->
            <a class="headerCell" href="{{ url_for('codeinput') }}">
		        <img class="headerIconImage" id="codeInterfaceIcon" src="{{ url_for('static', filename='assets/code_icon.png') }}">
            </a>

            <!-- Hardware Info Icon -->
            <a class="headerCell" href="{{ url_for('hardwareinformation') }}">
		        <img class="headerIconImage" id="hardwareInfoIcon" src="{{ url_for('static', filename='assets/hardware_information_icon.svg') }}">
            </a>

        </div>

        <div id="sliderContainer"></div>

        <!-- Update RGB Labels -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>	
        <script type='text/javascript' charset='utf-8'>
            var SliderContainer = document.getElementById("sliderContainer")

            var socket = io();

	        socket.on('connect', function() {
	  	        console.log("MI Socket Connected");
		        socket.emit("MI Connection");
	        });

	        socket.on('MI Parameters', function(msg) {
                for(var i = 0; i < msg.length; i++){
                    createOption(msg[i]);
                }
                if(document.getElementById('RValue') && document.getElementById('GValue') && document.getElementById('BValue')) {
                    setColor();
                }
	        });

	        function createOption(input) {
                if(input[0] == 'Slider') {
                    var newSlider = document.createElement('input');
                    var newLabel = document.createElement('label');

                    newSlider.setAttribute('type', 'range');
                    newSlider.setAttribute('min', input[2][0]);
                    newSlider.setAttribute('max', input[2][1]);
                    newSlider.setAttribute('value', input[2][2]);
                    newSlider.setAttribute('class', 'slider');
                    newSlider.setAttribute('id', getDisplayName(input));
                    newLabel.innerHTML = newSlider.value;

                    newSlider.oninput = function(event) {
                        newLabel.innerHTML = newSlider.value;
                        setColor();
		                socket.emit('MI Update Client', [event.target.id, event.target.value]);
                    }

                    SliderContainer.appendChild(newSlider);
                    SliderContainer.appendChild(newLabel);
                }

                if(input[0] == 'Select') {
                    var x
                }
	        }

	        function getDisplayName(input) {
                return input[1];
	        }

            function pad(n){
                return (n.length<2) ? "0"+n : n;
            }

            function setColor() {
                var RHex = parseInt(RValue.value, 10).toString(16),
                    GHex = parseInt(GValue.value, 10).toString(16),
                    BHex = parseInt(BValue.value, 10).toString(16),
                    RGBHex = '#' + pad(RHex) + pad(GHex) + pad(BHex);
                SliderContainer.style.backgroundColor = RGBHex;
            }
        </script>


    </body>
</html>
